!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}/
    %title Gobbledygook
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{:async => "", "data-domain" => "gobbledygook.bueti-online.ch", :defer => "defer", :src => "https://plausible.io/js/plausible.js"}
    = yield :og_header
  %body
    = render 'layouts/header'
    = render 'layouts/messages'

    .container
      %p
      = yield
    %br
    = render 'layouts/footer'

  = debug(params) if Rails.env.development?